.vote-blog__container {
    display: flex;
    gap: 10px;

    .vote-blog__btn {
        display: flex;
        gap: 8px;
        transition: var(--transition);

        padding: 0.6em;
        cursor: pointer;
        border-radius: var(--radius);
        box-shadow:  var(--shadow);

        .vote-blog__action {
            max-width: 16px;
        }
        .vote-blog__count {
            border-left: 2px solid var(--secondary);
            padding-left: 8px;
        }
    }
    .liked { background-color: var(--secondary) }     
    .disliked { background-color: var(--error) }
    .liked img, 
    .disliked img {
        -webkit-filter: invert(100%); /* Safari/Chrome */
        filter: invert(100%);        
    }
    .voted {
        color: white;
        .vote-blog__count {
            border-left: 2px solid white;
            padding-left: 8px;
        }
    }
}
