<div class="vote-blog__container">
    <div 
        class="vote-blog__btn"
        (click)="likeBlog()" 
        [ngClass]="isLiked ? 'liked voted' : ''"
    >
        <img class="vote-blog__action" src="assets/svgs/like.svg">
        <div *ngIf="likes" class="vote-blog__count">{{ likes ? likes : '' }}</div>
    </div>

    <div 
        class="vote-blog__btn"
        (click)="dislikeBlog()" 
        [ngClass]="isLiked === false  ? 'disliked voted' : ''"
    >
        <img class="vote-blog__action" src="assets/svgs/dislike.svg">
        <div *ngIf="dislikes" class="vote-blog__count">{{ dislikes ? dislikes : '' }}</div>
    </div>
    
</div>
