.vote-blog__container {
    display: flex;
    gap: 10px;

    .vote-blog__btn {
        display: flex;
        gap: 8px;
        transition: var(--transition);
        .vote-blog__action {

        }
        .vote-blog__count {
            border-left: 2px solid var(--secondary);
            padding-left: 8px;
        }
    }
    .liked { background-color: var(--secondary) }     
    .disliked { background-color: var(--error) }
    .voted {
        color: white;
        border: 2px solid transparent;
        .vote-blog__count {
            border-left: 2px solid white;
            padding-left: 8px;
        }
    }
}
