.comments__comment-create {
    margin-left: 26px;
    margin-bottom: 60px;
    padding: 25px;
    box-shadow: 
        rgba(107, 107, 179, 0.4) -5px 5px, 
        rgba(107, 107, 179, 0.3) -10px 10px, 
        rgba(107, 107, 179, 0.2) -15px 15px, 
}