.header__container {
    .header {
        margin: 0 0 50px;
        padding: 15px 30px;
        box-shadow: var(--shadow);
        border-radius: var(--radius);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__right{
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}


