<div class="comments__container">
    <button 
        class="comments__btn" 
        [ngClass]="commentOpen? 'comments__btn--cancel' : ''"
        (click)="commentOpen ? cancelComment() : commentOnBlog()"
    >{{ commentOpen ? 'Cancel' : 'Comment' }}</button>
    
    <div class="comments__comment" *ngFor="let comment of comments">


        <div class="comments__comment-body">
            <app-avatar [author]="comment.author"></app-avatar>
            <p class="comments__comment-text">{{ comment.text }}</p>
        </div>


        <div class="comments__comment-actions">
            <app-vote-blog 
                [likes]="comment.likes" 
                [dislikes]="comment.dislikes"
                [votedBy]="comment.votedBy"
                [username]="author"
                (like)="updateBlogVotes($event)"
                (dislike)="updateBlogVotes($event)"
            ></app-vote-blog>
            <button 
                [ngClass]="chainCommentOpen? 'comments__btn--cancel' : ''"
                (click)="chainCommentOpen ? closeChainComments() : openChainComments()"
            >{{ chainCommentOpen ? 'Cancel' : 'Replay' }}</button>

        </div>


        <div class="comments__chain-comments">

            <div *ngFor="let chainComment of comment.replies" class="comments__chain-comment comments__replies">
                <app-avatar [author]="chainComment.author"></app-avatar>
                <p class="comments__comment-text">{{ chainComment.text }}</p>
            </div>

            <!-- Create comment on comment chain, maybe move into seperate component -->
            <div *ngIf="chainCommentOpen" class="comments__new-chain-comment comments__comment">
                <app-avatar [author]="author"></app-avatar>
                <input 
                    class="comments__comment-input comments__comment-text" 
                    type="text" 
                    placeholder="Write comment on this line..."
                    [(ngModel)]="newChainComment"
                />
                <button class="comments__comment-create-btn" (click)="addChainComment(comment)">Add</button>
            </div>
        </div>

      
    </div>


    <app-create-comment 
        *ngIf="author && commentOpen"
        [author]="author"
        (createNewComment)="postComment($event)"
    ></app-create-comment>
</div>
