$avatarSize: 34px;
$greyBg: rgba(158, 151, 151, 0.397);
.comments__container {
    margin: 20px 0;
    .comments__replies {
        margin: 0 0 20px 50px;
        display: flex;
        gap: 10px;
        .comments__replay-indentation {
            margin-top: 6px;
            color: var(--secondary);
            font-weight: 700;
        }
        .comments__replay {
            padding-bottom: 10px;
            min-width: 300px;
        }
    }
}