.single-blog {
    margin-bottom: 20px;
    min-height: 75vh;
    .single-blog__head {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        gap: 16px;
        .single-blog__head-title {
        }
        .single-blog__head-author {
            font-size: 14px;
            letter-spacing: 1px;
            border-radius: var(--radius);
            border: 1px solid;
            padding: 5px 10px;
        }
    }
    .single-blog__body {
        margin-bottom: 50px;
        padding-bottom: 50px;
        box-shadow: 
            rgba(107, 107, 179, 0.4) 0px 5px, 
            rgba(107, 107, 179, 0.3) 0px 10px, 
            rgba(107, 107, 179, 0.2) 0px 15px, 
            rgba(107, 107, 179, 0.1) 0px 20px, 
            rgba(107, 107, 179, 0.05) 0px 25px;
    }
    .single-blog__actions {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;      
    }
}
.go-back {
    padding: 0.6em 1.2em;
    color: var(--lightText);
    background-color: var(--secondary);
    border-radius: var(--radius);
}
