<div *ngIf="blog" class="single-blog">
    <div class="single-blog__head">
        <h2 class="single-blog__head-title">{{ blog.title }}</h2>
        <p class="single-blog__head-author">By {{ blog.author }}</p>
    </div>
    <div class="single-blog__body">
        <p class="single-blog__text" [innerHTML]="blog.text" ></p>
    </div>
    <div class="single-blog__actions">
        <app-vote-blog 
            [likes]="blog.likes" 
            [dislikes]="blog.dislikes"
            [votedBy]="blog.votedBy"
            [username]="username"
            (like)="updateBlogVotes($event)"
            (dislike)="updateBlogVotes($event)"
        ></app-vote-blog>
        <div class="single-blog__actions-btns" *ngIf="blog.author === username">
            <button (click)="editBlog()" class="single-blog__actions-btns-edit">Edit</button>
            <button (click)="deleteSingleBlog()" class="single-blog__actions-btns-delete">Delete</button>
        </div>
    </div>
    <app-all-comments [comments]="blog.comments"></app-all-comments>

</div>
<a routerLink="/blogs" class="go-back">Back to blogs</a>