$avatarSize: 34px;
.comments__container {
    margin: 20px 0;
    .comments__comment {
        margin-bottom: 10px;
        box-shadow: var(--shadow);
        border-radius: var(--radius);
        padding: 15px 20px;
        transition: var(--transition);
        box-shadow: var(--shadow);
            &:hover {
                margin-bottom: 25px;
                box-shadow: 
                    rgba(107, 107, 179, 0.4) -5px 5px, 
                    rgba(107, 107, 179, 0.3) -10px 10px, 
                    rgba(107, 107, 179, 0.2) -15px 15px, 
            }
        .comments__avatar {
            display: flex;
            align-items: center;
            gap: 10px;
            .comments__avatar-img {
                width: $avatarSize;
                height: $avatarSize;
                background-color: var(--secondary);
                color: var(--lightText);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .comments__avatar-name {
                font-weight: 700;
            }
        }
        .comments__comment-text {
            margin-left: $avatarSize + 8px;
        }
    }
}