.blogs__container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .blog {
        max-width: 500px;
        min-width: 300px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .blog__title {}
        .blog__description {
            margin: 10px 0 20px;
                        
        }
        .blog__text {
            white-space: pre-line;
        }
        .blog__footer {
            display: flex;
            justify-content: space-between;
            .blog__view-more {
                border-bottom: 1px solid black;
            }
            .blog__author {
                opacity: 0.7;
                &:hover {
                    opacity: 1;
                }
            }
        }
  
    }
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        .blog {
            min-width: 220px;
        }
    }
}