/* You can add global styles to this file, and also import other style files */
$avatarSize: 34px;
$greyBg: rgba(158, 151, 151, 0.397);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary: rgb(107, 107, 179);
    --secondaryLight: rgba(107, 107, 179, 0.63);

    --lightText: white;

    --radius: 8px;
    --transition: all 0.25s ease-in;
    --shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
    --shadowStrong: rgba(0, 0, 0, 0.54) 0px 3px 8px;

    --error: #AE2012;
    
    --success: #57CC99;
    --blue: #0a9396;
}

html, body {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button {
    border: none;
    outline: none;
    background-color: var(--secondary);
    color: white;
}
button {
    padding: 0.6em 1.8em;
    font-size: 14px;
    cursor: pointer;
    border-radius: var(--radius);
    border: 2px solid var(--secondary);
    box-shadow:  var(--shadow)
}
// components  
.item-container {
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

// auth
[data-amplify-authenticator] [data-amplify-router] {
    border:none;
    box-shadow: var(--shadow);
}
// end auth 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// comments
.comments__comment-create-btn {
    margin-left: 26px;
}
.comments__btn {
    margin-bottom: 16px;
    // width: 130px;
    img {
        max-width: 18px;
    }
}
.comments__btn--row {
    display: flex;
    align-items: center;
    gap: 6px;
    img {
        max-width: 18px;
    }
}
.comments__btn--cancel {
    transition: var(--transition);
    background-color: var(--error);
    border-color: var(--error);
}
.comments__comment {
    border-radius: var(--radius);
    transition: var(--transition);
    &:hover .comments__comment-body {
        margin-bottom: 25px;
        box-shadow: 
            rgba(107, 107, 179, 0.4) -5px 5px, 
            rgba(107, 107, 179, 0.3) -10px 10px, 
            rgba(107, 107, 179, 0.2) -15px 15px, 
    } 
    .comments__comment-body {
        border-radius: var(--radius);
        padding: 15px 20px;
        transition: var(--transition);
        box-shadow: rgb(0 0 0 / 24%) -8px 4px 13px;
        margin-bottom: 14px;
    }
    .comments__comment-text {
        margin-left: $avatarSize + 8px;
    }

    .comments__comment-input {
        padding: 0 6px 6px;
        border: none;
        border-bottom: 2px solid var(--secondary);
        outline: none;
        width: max-content;
        min-width: 300px;
    }
    .comments__comment-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
}