/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary: rgb(107, 107, 179);
    --secondaryLight: rgba(107, 107, 179, 0.63);

    --lightText: white;

    --radius: 8px;
    --transition: all 0.25s ease-in;
    --shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
    --shadowStrong: rgba(0, 0, 0, 0.54) 0px 3px 8px;

    --error: #AE2012;
    
    --blue: #0a9396;
}

html, body {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button {
    border: none;
    outline: none;
    background-color: var(--secondary);
    color: white;
}
button,
.vote-blog__btn {
    padding: 0.6em 1.8em;
    font-size: 14px;
    cursor: pointer;
    border-radius: var(--radius);
    border: 2px solid var(--secondary);
    box-shadow:  var(--shadow)
}
// components  
.item-container {
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

// auth
[data-amplify-authenticator] [data-amplify-router] {
    border:none;
    box-shadow: var(--shadow);
}
// end auth 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
